@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto;
}

.navbar strong,
.navbar .title {
  color: white;
}

html {
  height: 100%;
}

.timer {
  margin-right: 20px;
}

body.body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-image: url(/assets/maps/world.jpg); */
  background-size: cover;
  background-color: #999;
  background-blend-mode: screen;
  height: 100%;
}

main>div {
  width: 30%;
}

.marble-bar {
  background-color: #363636;
  color: #fff;
  position: fixed;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
}

.marble-bar .title {
  color: white;
  font-size: .85em;
  text-justify: right;
  margin-left: 25px;
  margin-right: 25px;
}

.marble-bar .subtitle {
  font-size: .82em;
  text-justify: right;
  color: lightgray;
  margin-left: 25px;
  margin-right: 25px;
}

.navbar .title {
  font-size: 1em;
  color: hsl(171, 100%, 41%);
}

.navbar .title small {
  font-style: italic;
}

.box {
  height: max-content;
  background-color: rgba(255, 255, 255, 0.75);
}

.box .box {
  background-color: rgba(255, 255, 255, 1);
}

.marble-bar-left,
.marble-bar-middle,
.marble-bar-right {
  display: flex;
  align-items: center;
}

.disasters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 100px;
}

.disaster-subtitle {
  margin: 0;
}

.new {
  color: lightseagreen;
}

.solutions-header {
  margin-top: 15px;
}

.countdown.warning,
.warning {
  color: darkred;
}

.disasters .subtitle {
  margin-bottom: 0;
}

.countdown {
  margin-top: 0;
  margin-bottom: 15px;
  color: lightslategray;
}

.solution-title {
  font-weight: bold;
  color: darkslategray;
  margin-bottom: 0;
}

.solution-subtitle {
  margin: 0;
  padding-bottom: 10px;
}

.marbles,
.tasks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tasks .frozen {
  filter: invert(.2);
  border-color: darkolivegreen;
}

.tasks .frozen {
  cursor: default !important;
}

.marble>img,
.tasks>img {
  margin-right: 5px;
  padding: 5px;
  width: 50px;
  border-radius: 50%;
}

.marble>p {
  text-justify: center;
  font-size: .85em;
}

.tasks .empty {
  filter: opacity(0.2);
  border-color: black;
}

.ready picture:hover {
  cursor: pointer;
  filter: opacity(.8);
}

.tasks :not(.empty) {
  cursor: pointer;
}

.upcoming img {
  filter: invert(1) opacity(.5);
}

.used img {
  filter: invert(1) opacity(.2);
}

.ready img,
.tasks img {
  border: 5px solid hsl(171, 100%, 41%);
}

.ready .selected img,
.tasks .selected {
  border-color: lightcoral;
}

.tasks .possibleDrop {
  border-color: hsl(141, 53%, 53%);
  cursor: pointer;
  filter: opacity(0.6);
}
