@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto;
}

main {
  display: flex;
}

main>div {
  width: 30%;
}

.new {
  color: lightseagreen;
}

.warning {
  color: darkred;
}

.marbles,
.tasks {
  display: flex;
  flex-wrap: wrap;
}

.tasks .frozen {
  filter: invert(.2);
  border-color: darkolivegreen;
}

.tasks .frozen {
  cursor: default !important;
}

.marble>img,
.tasks>img {
  margin-right: 5px;
  padding: 5px;
  width: 50px;
  border-radius: 50%;
}

.empty {
  filter: opacity(0.2);
}

.ready picture:hover {
  cursor: pointer;
  filter: opacity(.8);
}

.tasks :not(.empty) {
  cursor: pointer;
}

.upcoming img {
  filter: invert(1) opacity(.5);
}

.used img {
  filter: invert(1) opacity(.2);
}

.ready img,
.tasks img {
  border: 5px solid black;
}

.ready .selected img,
.tasks .selected {
  border-color: lightcoral;
}

.tasks .possibleDrop {
  border-color: lightseagreen;
  cursor: pointer;
}
