main {
  display: flex;
}

main>div {
  width: 30%;
}

.marbles, .tasks {
  display: flex;
  flex-wrap: wrap;
}

.marble, .tasks > img {
  margin-right: 5px;
  width: 50px;
}

.empty {
  filter: opacity(0.2);
}

.ready picture:hover {
  cursor: pointer;
  filter: opacity(.8);
}

.upcoming img {
  filter: invert(1) opacity(.5);
}

.used img {
  filter: invert(1) opacity(.2);
}

.ready img {
  border: 1px solid white;
}

.ready .selected img {
  border: 1px solid red;
}
